%h1 Listing pharmacies

%table.table
  %tr
    %th Name
    %th Address
    %th Email
    %th Phone
    %th Fax
    %th
    %th
    %th

  - @pharmacies.each do |pharmacy|
    %tr
      %td= pharmacy.name
      %td= pharmacy.address
      %td= pharmacy.email
      %td= pharmacy.phone
      %td= pharmacy.fax
    -#  
      %td= link_to 'Show', pharmacy
      %td= link_to 'Edit', edit_pharmacy_path(pharmacy)
      %td= link_to 'Destroy', pharmacy, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Pharmacy', new_pharmacy_path
