%h1 Pharmacies

%table.table
  %tr
    %th Name
    %th Address
    %th Email
    %th Phone
    %th Distance
    %th
    %th
    %th

  - @pharmacies.each do |pharmacy|
    %tr.nowhite
      %td
        = link_to pharmacy.name, pharmacy
      %td
        = link_to pharmacy.address, pharmacy
      %td
        = link_to pharmacy.email, pharmacy
      %td
        = link_to pharmacy.phone, pharmacy
      %td
        = link_to pharmacy.distance, pharmacy
    -#  
      %td= link_to 'Show', pharmacy
      %td= link_to 'Edit', edit_pharmacy_path(pharmacy)
      %td= link_to 'Destroy', pharmacy, :confirm => 'Are you sure?', :method => :delete

%br
.btn.btn-primary
  = link_to 'Enter Your Own Location'
