%p#notice= notice

%p
  %b Name:
  = @pharmacy.name
%p
  %b Address:
  = @pharmacy.address
%p
  %b Email:
  = @pharmacy.email
%p
  %b Phone:
  = @pharmacy.phone
%p
  %b Distance:
  = @pharmacy.distance

.btn
  = link_to 'Fill Prescription Now', confirm_path
\|
.btn
  = link_to 'Fill Prescription Later', pharmacies_path
