%h1 My Prescriptions


- @prescriptions.each do |prescription|
  %table
    %tr
      %th= "Script Name: #{prescription.name}"
      %th
      %th
      %th
      %tr
        %td= image_tag prescription.photo
        %td.spacer
        %td.btn.btn-warning
          = link_to 'Edit', edit_prescription_path(prescription)
        %td.spacer
        %td.btn.btn-warning
          = link_to 'Delete', prescription, :confirm => 'Are you sure?', :method => :delete
        %td.spacer
        %td.btn.btn-success
          = link_to 'Find Closest Pharmacy', pharmacies_path

%br

.btn.btn-warning
  = link_to 'Add Prescription', new_prescription_path
