%h1 My Prescriptions


- @prescriptions.each do |prescription|
  %table
    %tr
      %th= "Date: #{change_date(prescription.photo_updated_at)}"
      %th
      %th
      %th
      %tr
        %td= image_tag prescription.photo
        %td.spacer
        %td.btn
          = link_to 'Edit', edit_prescription_path(prescription)
        %td.spacer
        %td.btn
          = link_to 'Delete', prescription, :confirm => 'Are you sure?', :method => :delete
        %td.spacer
        %td.btn.btn-success
          = link_to 'Find Closest Pharmacy', pharmacies_path

%br

.btn
  = link_to 'Add Prescription', new_prescription_path
