%p#notice= notice

%p
  %b Name:
  = @prescription.name
%p
  %b Script:
  = image_tag @prescription.photo

.btn.btn-warning
  = link_to 'Change Photo', edit_prescription_path(@prescription)
\|
.btn.btn-warning
  = link_to 'Next', prescriptions_path
