%p#notice= notice

%p
  %b Name:
  = @prescription.name
%p
  %b Script:
  = image_tag @prescription.photo

.btn
  = link_to 'Edit', edit_prescription_path(@prescription)
\|
.btn
  = link_to 'Back', prescriptions_path
